# 忽略 Python 编译文件
*.pyc
__pycache__/

# 忽略数据集文件（例如 MNIST 数据）
codes/dataset/MNIST/*.gz

# 忽略项目的 PDF 文件
project_1.pdf

# 忽略临时文件
*.log
*.bak
*.swp

# 忽略编译目录
build/

# 忽略所有 .pickle 文件
*.pickle

# 忽略所有 .png 图像文件
*.png

# 忽略 .tex 文件
*.tex

